
button{
    text-decoration: none;
    font-size: 20px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial;
    font-weight: 700px;
    color: #e6e6e6;
    background-color: #CA7425;
    border-radius: 5px;
    border: 3px;

}
button:hover{
    opacity: 0.7;
    color: black;
}
.mas{
  width: 500px;
}
* {
box-sizing: border-box;
}
.login {
background-color: #FFF;
padding: 25px;
border-radius: 5px;
margin: 20px auto;
width: 300px;

}
html{
  text-align: center;
  background-color: #0B0D0C;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size:  100%;
}
h3{
  font-family: Arial;
  font-size: 25px;
  color: #777777;
}

.gris{
  color: #e6e6e6;
}
.naranja{
  color: #ff6f08;
}
.app-title {
text-align: center;
color: #777;
}


#ECF0F1 grisecito
#AFB2B3 grisezote
